/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexbox{
    display: flex;
}

.fl-between{
    justify-content: space-between;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

/* header indication*/

header .logo{
    width: 100px;
    height: 70px;
    display: inline-block;
}

header nav{
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
}

header ul li{
    list-style-type: none;
    margin: 0 5px;
}

/*main indication*/

main header .container{
    padding: 4rem 15%;
}

main .text-content{
    display: inline-block;
    width: 40%;
}

/*main sections indications*/

main section.container,
main section div.container{
    margin: 4rem 20% 0;
}

main section.container>*{
    margin-bottom: 2rem;
}

main section .card-container *{
    width: 31%;
}

main section .card{
    background-color: aqua;
}

main section .bordless-card *{
    height: 50px;
    background-color: aquamarine;
}

main section footer{
    width: 60%;
}

.squarebox{
    height: 30vw;
    width: 30vw;
    flex-wrap: wrap;
}

.text-card{
    width: 35vw;
}

.text-card{
    display: inline-block;
}

.square{
    height: 14vw;
    width: 14vw;
    border: 2px solid rebeccapurple;
}
